
.navbar{
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.navbarlogo{
  min-width: 83px;
  max-width: 150px;
  width: 14%;
}

.hero{
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.hero-photo{
  max-width: 1000px;
  height: auto;
  width: 80%;
  align-self: center;
}

.hero-title{
  margin-bottom: 16px;
}

.hero-text{
  margin-top: 0;
}

.Card{
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.Card-Img{
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}

.Card-Stats{
  display: flex;
  align-items: center;
}

.Card-Star{
  height: 14px;
}

.grey{
  color: #918E9B;
}

.bold{
  font-weight: bold;
}

.Card-List{
  display: flex;
  margin-left: 20px;
  flex-wrap: nowrap;
  gap: 20px;
  overflow:auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.Card-List::-webkit-scrollbar {
  display: none;
}

.section{
  padding: 20px;
}

.Card-Badge{
  position:absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}